set -e
DIR=`pwd`

bin=$DIR/.direnv/bin
PATH_add $bin

if ! [ -e "node_modules" ]; then
bun i
fi

nc -z -w 1 127.0.0.1 7890 && export https_proxy=http://127.0.0.1:7890

export NODE_TLS_REJECT_UNAUTHORIZED=0

dotenv
